
<toco-progress *ngIf="!stats" [position]="'absolute'"></toco-progress>

<div *ngIf="stats" class="m-1" fxLayout="row" fxLayoutAlign="center">
    <mat-card class="w-60" fxLayout="row wrap" fxLayoutAlign="center">

        <img fxFlex="2 1 calc(80% - 100px)" height="250" matCardImage style="margin-bottom: -16px;  object-fit: cover;"
                src="assets/images/photo-of-people-having-meeting.jpg">

        <mat-card-content fxLayout="column" style="padding: 2em;">

            <h2> {{ sourcesCount }} Revistas </h2>
            <h2> {{ records }} Artículos </h2>
            <h2> {{ institutionsCount }} Instituciones </h2>

        </mat-card-content>
    </mat-card>
</div>

