.w-card, .w-60{
    min-width: 15em !important;
    width: auto;
}
.m-1{
    margin: 1em;
}
.w-60{
    width: 60%;
}
.mat-image-in-card{
    width: 100% !important;
    min-width: 15em;
    max-width: 30em;
    height: auto;
    max-height: 15em;
}

.mat-card-with-img{
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

