
#url-mat-form-field
{
    width: 285px;
	padding-left: .5em;
	cursor: text;
}

#url-mat-form-field[appearance="fill"],
#url-mat-form-field[appearance="outline"]
{
    width: 310px;
}

#url-input-element
{
	background: none;
	border: none;
	padding: 0;
	outline: none;
	font: inherit;
	text-align: center;
}
