<mat-card>
  <img mat-card-image src={{img_card}} *ngIf="is_img_card">
  <mat-card-header>

      <img mat-card-avatar src={{avatar_card}} *ngIf="is_avatar_card" >


      <mat-card-title *ngIf="is_title_card">
        <strong>
          {{title_card}}
        </strong>
      </mat-card-title>

    <mat-card-subtitle *ngIf="is_subtitle_card">
      {{subtitle_card}}
    </mat-card-subtitle>
  </mat-card-header>



  <mat-card-content *ngIf="is_content_card">
     <div class="e2e-inner-html-bound  text-align-justify" [innerHTML]="content_card"></div>
    
  </mat-card-content>

  <mat-card-actions *ngIf="is_actions_card">
    <a mat-button color="primary"   routerLink="{{router}}/{{entity.id}}">VER MÁS</a>
    <!--(click)="show_people()"-->
  </mat-card-actions>

</mat-card>