<mat-accordion *ngIf="panels.length > 1">

    <mat-expansion-panel *ngFor="let panel of panels; let i = index; let l = count" [expanded]="step === i"
        (opened)="setStep(i)" hideToggle>

        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ panel.title }}
            </mat-panel-title>
            <mat-panel-description>
                {{ panel.description }}
                <mat-icon>{{ panel.iconName }}</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <toco-form-fields [fields]="panel.formField"></toco-form-fields>

        <mat-action-row>
            <button mat-button *ngIf="i > 0" color="warn" (click)="prevStep()">Anterior</button>
            <button mat-button *ngIf="i != l-1" color="primary" (click)="nextStep()">Siguente</button>
            <button mat-button *ngIf="i == l-1" color="warn" (click)="doAction()">{{actionLabel}}</button>
        </mat-action-row>

    </mat-expansion-panel>

</mat-accordion>

<mat-card *ngIf="panels.length == 1">
    <mat-card-header>
        <mat-card-title>
            {{ panels[0].title }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ panels[0].description }}
            <mat-icon>{{ panels[0].iconName }}</mat-icon>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <toco-form-fields [fields]="panels[0].formField"></toco-form-fields>

        <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
            <button mat-button color="warn" (click)="doAction()">{{actionLabel}}</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
