
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  {{ title }}
  <div fxLayoutGap="15px">
      <button mat-mini-fab *ngIf="islogged" color="primary" matBadge="+9" matBadgeColor="accent" [matMenuTriggerFor]="notificationsMenu">
          <mat-icon>notifications</mat-icon>
      </button>
      
      <button mat-stroked-button *ngIf="islogged" [matMenuTriggerFor]="menu">
          {{ user }}
          <mat-icon>person_pin</mat-icon>
      </button>
  </div>
  
</mat-toolbar>

<mat-menu #menu="matMenu" >
  <button mat-menu-item (click)="logoff()">
      <mat-icon>lock</mat-icon>
      Salir
  </button>
</mat-menu>
<mat-menu #notificationsMenu="matMenu" >
  <button mat-menu-item (click)="logoff()">
      <mat-icon>lock</mat-icon>
      notify
  </button>
</mat-menu>

<toco-authentication *ngIf="!islogged" ></toco-authentication>

<toco-taxonomy *ngIf="islogged"></toco-taxonomy>

<toco-footer></toco-footer>