<mat-toolbar color="primary" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between center">
    <a class="color-white" [routerLink]="['/']">
        {{ title }}
    </a>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="15px">
        <toco-notification-button *ngIf="islogged"></toco-notification-button>

        <button mat-stroked-button *ngIf="islogged" [matMenuTriggerFor]="menu">
            {{ user }}
            <mat-icon>person_pin</mat-icon>
        </button>
    </div>

</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logoff()">
        <mat-icon>lock</mat-icon>
        Salir
    </button>
</mat-menu>

<toco-authentication *ngIf="!islogged"></toco-authentication>

<router-outlet *ngIf="islogged"></router-outlet>

<!-- <toco-taxonomy ></toco-taxonomy> -->

<toco-footer></toco-footer>