<header>

  <nav>
      
    <div class="nav-heder shadows-for-head always-on-top nav-menu-items w-100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">

      <!-- <div class="nav-menu-items" > -->
        <button mat-flat-button color="primary" *ngFor="let item of menuItems" [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label}}
        </button>
        
      <!-- </div> -->


      <!-- <div class="nav-tools">
          <div class="input-style-for-search">
             <mat-icon style="margin-left: -45px;z-index: 1;">pageview</mat-icon> 
          </div>
          <input type="search" coloaria-label="Buscar" placeholder="Buscar" class="input-style">

        <span class="spacer"></span>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Edel Abreu Hernández" matTooltipPosition="left">
            <mat-icon matPrefix>person_pin</mat-icon>
            pin
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/people/show">
              <mat-icon>person</mat-icon>
              <span>Mi Perfil</span>
            </button>
            <button mat-menu-item>
              <mat-icon>lock_open</mat-icon>
              <span>Salir</span>
            </button>
          </mat-menu>
        </div>

      </div> -->

    </div>
  </nav>
</header>