
<div class="main-margin">
    <h3>Url control</h3>
    <div class="main-margin">
        <h4>`content.label = undefined`</h4>
        <div
            fxLayout="row"
            fxLayout.xs="row"
            fxLayoutAlign="space-between center"
        >
        
            <input-url [content]="inputContent_00"></input-url>
        
            <input-url [content]="inputContent_01"></input-url>
        
        </div>

        <h4>`content.label` is NOT `undefined`</h4>
        <div
            fxLayout="row"
            fxLayout.xs="row"
            fxLayoutAlign="space-between center"
        >

            <input-url [content]="inputContent_02"></input-url>

            <input-url [content]="inputContent_03"></input-url>

        </div>
    </div>
</div>
