<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" opened>
      <!-- <app-aggregations fxLayout="row wrap" fxLayout.xs="column wrap" fxFlex="{{ currentlayout.width }}"
        fxLayoutAlign="start center" fxLayoutAlign.xs="center center" fxLayoutGap="1em"
        class=" back-grey mat-elevation-z8"></app-aggregations> -->
      <!-- <toco-org-search></toco-org-search> -->
      <toco-search-aggregations
        *ngIf="sr"
        [aggregations]="sr.aggregations"
        [selectedAggr]="aggrsSelection"
        (keySelect)="aggrChange($event)"
  
      ></toco-search-aggregations>
    </mat-drawer>

    <mat-toolbar color="primary">

      <button
        mat-icon-button
        (click)="drawer.toggle()"
        matTooltip="Filtros avanzados"
      >
        <mat-icon>filter_list</mat-icon>
      </button>

      <span>Búsqueda</span>

    </mat-toolbar>

    <div class="m-1" *ngIf="sr">

      <toco-search-query-input [query]="query" class="p-1" (queryChange)="queryChange($event)"></toco-search-query-input>

      <search-list [hitList]="sr.hits"></search-list>

      <mat-paginator
        [length]="sr.hits.total"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = pageChange($event)"
      >
      </mat-paginator>
    </div>
  </mat-drawer-container>
  