<mat-toolbar color="primary">
    <!-- <mat-toolbar-row> Perfil </mat-toolbar-row> -->
    <mat-toolbar-row> Mi Cuenta </mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>
<div
    fxLayout="row wrap"
    fxLayoutAlign="space-around start"
    style="margin: -4em 2em 2em;"
>

    <mat-card style="min-width: 15em; width: 50%; margin: .5em;">
        <mat-card-header fxLayout="row nowrap" fxLayout.xs="column" [ngStyle.xs]="{'justify-content': 'center', 'align-items': 'center'}">
            <img matCardAvatar *ngIf="user.avatar != ''"
                [ngStyle]="{ 'width.px': 130, 'height.px': 130 }"
                [ngStyle.xs]="{ 'width.px': 180, 'height.px': 180 }"
                [src]="avatar()"
            >
            <img matCardAvatar *ngIf="user.avatar == ''"
                [ngStyle]="{ 'width.px': 130, 'height.px': 130 }"
                [ngStyle.xs]="{ 'width.px': 180, 'height.px': 180 }"
                src="/assets/images/userprofile.png"
            >
            
            <mat-card-title *ngIf="user && user.full_name">
                {{user.full_name}}
            </mat-card-title>
            
            <mat-card-subtitle
                *ngIf="user && user.email"
                style="color: rgba(0, 0, 0, 0.85);"
            >
                {{user.email}}
            </mat-card-subtitle>
            <mat-card-subtitle
                *ngIf="user && user.institution"
                style="color: rgba(0, 0, 0, 0.85);"
            >
                Institucion: {{user.institution}}
            </mat-card-subtitle>
            
        </mat-card-header>
        <mat-card-content style="margin-top: 1em;">
            <p *ngIf="user && user.biography">{{ user.biography }}</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button color="accent" href="{{ changePassword }}" target="_blank">Cambiar contraseña</a>
        </mat-card-actions>

    </mat-card>
    
    <!-- <mat-card
        style="min-width: 15em; width: 32%; margin: .5em;"
    >
        <mat-card-content>
            aqui va informaicon adicional del usuario como sus roles en el sistema y demas...
        </mat-card-content>
    </mat-card> -->

</div>

