
.rnps-mat-form-field
{
    width: 130px;
    padding-left: .5em;
}

.rnps-input-element
{
	background: none;
	border: none;
	padding: 0;
	outline: none;
	font: inherit;
	text-align: center;
}

.rnps-mat-icon
{
    vertical-align: bottom;
}
