<toco-progress [loading]="saving"> </toco-progress>

<ng-container *ngIf="source && sourceVersion" [ngSwitch]="source.source_type">
  <mat-toolbar
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
    [ngStyle]="{
      width: '100%',
      height: 'auto',
      padding: '16px',
      'min-height': '56px'
    }"
  >
    <span [ngStyle]="{'white-space': 'normal'}">
      <ng-container *ngIf="sourceVersion.isNew; else elseTemplate">
        Nueva Fuente
      </ng-container>
      <ng-template #elseTemplate> Editando: {{ source.name }} </ng-template>
    </span>
    <button mat-stroked-button color="warn" (click)="editCanceled()">
      Cancelar
    </button>
  </mat-toolbar>

  <toco-journal-edit
    *ngSwitchCase="sourceType.JOURNAL.value"
    [journalVersion]="sourceVersion"
    [topMainOrganization]="topMainOrganization"
    (journalEditDone)="sourceEditDone($event)"
    [showEditHeader]="false"
  >
  </toco-journal-edit>

  <p *ngSwitchDefault>
    {{ sourceType.JOURNAL.value }}
    {{ source.source_type }}
  </p>
</ng-container>
