
<toco-progress [loading]="saving">
</toco-progress>

<ng-container *ngIf="source" [ngSwitch]="source.source_type">
    <toco-journal-edit
        *ngSwitchCase="sourceType.JOURNAL.value"
        [journalVersion]="version"
        [source]="source"
        [defaultOrganizationUUID]="organizationUUID"
        (journalEditDone)="sourceEditDone()"
        (editCanceled)="editCanceled()"
    >
    </toco-journal-edit>

    <p *ngSwitchDefault>
        {{sourceType.JOURNAL.value}}
        {{source.source_type}}
    </p>
</ng-container>
