<div fxLayoutAlign="end center" fxLayout="row">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>view_quilt</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeLayoutPosition(0)">
            <mat-icon>arrow_forward</mat-icon>
            <span>{{layoutPosition[0].name}}</span>
        </button>
        <button mat-menu-item (click)="changeLayoutPosition(1)">
            <mat-icon>arrow_back</mat-icon>
            <span>{{layoutPosition[1].name}}</span>
        </button>
        <button mat-menu-item (click)="changeLayoutPosition(2)">
            <mat-icon>arrow_upward</mat-icon>
            <span>{{layoutPosition[2].name}}</span>
        </button>
        <button mat-menu-item (click)="changeLayoutPosition(3)">
            <mat-icon>arrow_downward</mat-icon>
            <span>{{layoutPosition[3].name}}</span>
        </button>
    </mat-menu>
</div>

<div fxLayout="{{currentlayout.layout}}" fxLayout.xs="column nowrap"
    fxLayoutAlign="{{currentlayout.aling}}">
    
    <app-search-aggregations
        fxLayout="row wrap" 
        fxLayout.xs="column wrap" 
        fxFlex="{{currentlayout.width}}"
        fxLayoutAlign="start center" 
        fxLayoutAlign.xs="center center" 
        fxLayoutGap="1em"
        class=" back-grey mat-elevation-z8"
    ></app-search-aggregations>



    <div class="mat-elevation-z8 width-90 margin1em">
        <toco-record-list></toco-record-list>
        <mat-paginator 
            [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = $event">
        </mat-paginator>

    </div>

</div>


<router-outlet></router-outlet>
