
<div class="main-margin">
    <h3>Select control</h3>
    <div class="main-margin">
        <h4>`content.showTooltip = false`</h4>
        <div
            fxLayout="row"
            fxLayout.xs="row"
            fxLayoutAlign="space-between center"
        >

            <input-select [content]="selectContent_00"></input-select>

            <input-select [content]="selectContent_01"></input-select>

            <input-select [content]="selectContent_02"></input-select>

            <input-select [content]="selectContent_03"></input-select>

            <input-select [content]="selectContent_04"></input-select>

        </div>

        <h4>`content.showTooltip = true`</h4>
        <div
            fxLayout="row"
            fxLayout.xs="row"
            fxLayoutAlign="space-between center"
        >

            <input-select [content]="selectContent_20"></input-select>

            <input-select [content]="selectContent_21"></input-select>

            <input-select [content]="selectContent_22"></input-select>

            <input-select [content]="selectContent_23"></input-select>

            <input-select [content]="selectContent_24"></input-select>

        </div>
    </div>
</div>
