<toco-progress [loading]="saving"> </toco-progress>

<!-- <div *ngIf="source" fxLayout="row" fxLayoutGap="1em">
</div> -->

<!-- <div fxLayout="row wrap" fxLayoutAlign="space-between center" [ngStyle]="{'width': '100%'}">
    <h2>
      {{ pageTitle }}
    </h2>
    <button
      *ngIf="showEditHeader"
      mat-stroked-button
      color="warn"
      (click)="cancelStepper()"
    >
      Cancelar
    </button>
</div> -->

<ng-container *ngIf="source" [ngSwitch]="source.data.source_type">

  <mat-toolbar>
    <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="space-between center">
      <h1>{{ source.data.name }}</h1>

    </mat-toolbar-row>
  </mat-toolbar>


  <ng-container *ngIf="source">
  <toco-journal-view-info
    #view
    *ngSwitchCase="sourceType.JOURNAL.value"
    [journalVersion]="source"
    [showVersionLabel]="false"
  >
  </toco-journal-view-info>

  <p #view *ngSwitchDefault>
    {{ sourceType.JOURNAL.value }}
    {{ source.data.source_type }}
  </p>
  </ng-container>


</ng-container>
