<mat-toolbar class="mat-elevation-z6" color="primary" fxLayout="row" fxLayoutAlign="space-between center">

    {{ title }}

    <div fxLayoutGap="15px">
        <button mat-mini-fab *ngIf="islogged" color="primary" matBadge="+9" matBadgeColor="accent"
            [matMenuTriggerFor]="notificationsMenu">
            <mat-icon>notifications</mat-icon>
        </button>

        <button mat-stroked-button *ngIf="islogged" [matMenuTriggerFor]="menu">
            {{ user }}
            <mat-icon>person_pin</mat-icon>
        </button>

        <toco-authentication *ngIf="!islogged" [isButtonLogin]="'true'"></toco-authentication>

    </div>

</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logoff()">
        <mat-icon>lock</mat-icon>
        Salir
    </button>
</mat-menu>

<mat-menu #notificationsMenu="matMenu">
    <button mat-menu-item (click)="logoff()">
        <mat-icon>lock</mat-icon>
        notify
    </button>
</mat-menu>

<mat-tab-group [backgroundColor]="'warn'" *ngIf="islogged">
    <mat-tab>
        <ng-template mat-tab-label>
            <a [routerLink]="['/']" routerLinkActive="router-link-active" class="color-white"> Catálogo </a>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <a [routerLink]="['/mysources']" class="color-white"> Mis fuentes </a>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <a [routerLink]="['/ooooos']" class="color-white"> Nueva fuente </a>
        </ng-template>
    </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>

<toco-footer></toco-footer>