a.color-white{
    color: black !important;
    text-emphasis: black;
    text-decoration:none !important;
    // padding-top: 21%;
    // padding-bottom: 21%;
    // padding-left: 67%;
    // padding-right: 67%;
}