<mat-toolbar class="mat-elevation-z6" color="primary" style="position: relative;">

    <mat-toolbar-row
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayoutAlign="space-between center"
        style="height: auto !important; min-height: 56px;"
    >
        <a class="color-white" [routerLink]="['/']" style="white-space: normal;">
            <!-- <img src="assets/images/logo_mes.png" alt="MES" width="140"> -->
            Registro de Revistas Científicas del MES
        </a>
        <div
            appearance="legacy"
            aria-label="Menu de Inicio"
            fxLayout="row wrap"
            fxLayoutGap="15px"
        >

            <button mat-icon-button [matMenuTriggerFor]="menuNetwork" matTooltip="Redes Sociales">
                <mat-icon>share</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="menuHelp" matTooltip="Ayuda">
                <mat-icon>help</mat-icon>
            </button>

            <toco-notification-button *ngIf="islogged" [color]="'primary'" [buttonType]="'mat-icon-button'"></toco-notification-button>

            <toco-authentication *ngIf="!islogged" [isButtonLogin]="'true'"></toco-authentication>

            <button mat-icon-button *ngIf="islogged" [matMenuTriggerFor]="menu" matTooltip="{{ user }}">
                <mat-icon>person_pin</mat-icon>
            </button>

        </div>

    </mat-toolbar-row
    >

    <mat-toolbar-row
        fxLayout="row wrap"
        fxLayoutAlign="center"
        fxLayout.xs="column"
        fxLayoutAlign="center center"
        style="height: auto !important; min-height: 56px;"
    >

        <a mat-button [routerLink]="['/']" value="Inicio">Inicio</a>
        <!-- <a mat-button [routerLink]="['/about']" value="Acerca de">Acerca de</a> -->
        <a mat-button [routerLink]="['/directory']" value="Catálogo">Directorio</a>
        <a mat-button [routerLink]="['/']" value="Reportes y estadísticas">Reportes y estadísticas</a>
        <a mat-button [routerLink]="['/sources/new/journal']" value="Incluye tu revista">Incluye tu revista</a>
        <a *ngIf="islogged" mat-button [routerLink]="['/sources']"> Mis Registros </a>

    </mat-toolbar-row
    >

</mat-toolbar>

<mat-menu #menu="matMenu">
    <a mat-menu-item [routerLink]="['/userprofile']">
        <mat-icon>account_circle</mat-icon>
        Mi Cuenta
    </a>
    <button mat-menu-item (click)="logoff()">
        <mat-icon>lock</mat-icon>
        Salir
    </button>

</mat-menu>

<mat-menu #menuNetwork="matMenu">
    <a mat-menu-item href="https://www.facebook.com/CubaMES/" target="_blank">
        <!-- <mat-icon>info</mat-icon> -->
        Facebook
    </a>
    <a mat-menu-item href="https://twitter.com/CubaMES" target="_blank">
        <!-- <mat-icon>question_answer</mat-icon> -->
        Twitter
    </a>
</mat-menu>

<mat-menu #menuHelp="matMenu">
    <!-- <a mat-menu-item [routerLink]="['/help']">
        <mat-icon>help_outline</mat-icon>
        Ayuda
    </a> -->
    <a mat-menu-item [routerLink]="['/faq']">
        <mat-icon>question_answer</mat-icon>
        FAQs
    </a>
    <a mat-menu-item [routerLink]="['/about']">
        <mat-icon>info</mat-icon>
        Acerca de
    </a>
    <a mat-menu-item [routerLink]="['/contact']">
        <mat-icon>contacts</mat-icon>
        Contactos
    </a>
</mat-menu>

<toco-progress [loading]="loading">
</toco-progress>

<router-outlet></router-outlet>

<div  [ngStyle]="{'margin-top': '2em'}">
    <toco-footer [sites]="footerSites" [information]="footerInformation"></toco-footer>
</div>

