<div fxLayout="column" fxLayoutAlign="center center">

    <h1 style="text-align: center;">Registro Cubano de Organizaciones</h1>

    <toco-search-query-input [query]="''" (queryChange)="queryChange($event)" style="width: 70%;"></toco-search-query-input>

    <br>
    <br>
    <mat-chip-list>
        <mat-chip [routerLink]="['/search']">
            {{organizationsTotal}} Organizaciones
        </mat-chip>
        <mat-chip [routerLink]="['/search']" [queryParams]="{country: 'Cuba'}">
            {{cubanOrganizationTotal}} Organizaciones Cubanas
        </mat-chip>
  </mat-chip-list>
</div>