<div class="grid-container">
  <h1 class="mat-h1">Taxonomy</h1>

  <mat-grid-list cols="2" rowHeight="350px">

    <mat-grid-tile [colspan]="vocabs.cols" [rowspan]="vocabs.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
              {{vocabs.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" [style.overflow]="'auto'">
            <toco-vocabularies></toco-vocabularies>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="terms.cols" [rowspan]="terms.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
                {{terms.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content" [style.overflow]="'auto'">
              <toco-terms></toco-terms>
          </mat-card-content>
        </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
