.width-card{
    width: 30%;
    min-width: 240px;
    margin-left: 24px;
    margin-top: 24px;

}

.card-float-left{
    float: left;
}
.center-spinner {
    width: 90.5%;
    min-width: 240px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
}
.back-grey{
    background: rgba(0,0,0,.01);
    margin: 1.5em 1em;
    padding: 1em;
    min-width: 18em;
}
.width-90{
    width: 90%;
    position: relative;
}
.width-93{
    width: 93.5%;
}
table {
    width: 90%;
}
.margin1em{
    margin: 1em;
}
.menu-pull-right{
    flex: 1 1 auto;
}
table.mat-table{
    width: 100%;
}
tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}
.height-auto{
    height: auto !important;
}