
@import '../../../src/app/core/nav/nav.component-theme' ;
@import '../../../src/app/filters/boolean-filter/boolean-filter.component-theme';

// Styles for the docs app that are based on the current theme.
@mixin toco-app-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    @include toco-nav-component-theme($theme);
    @include toco-boolean-filter-component-theme($theme);
  }

