<div fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <mat-form-field *ngFor="let field of fields" [ngSwitch]="field.type">
        <!-- <textarea matInput *ngSwitchCase="type.textarea" placeholder="{{field.placeholder}}"
            name="{{field.name}}"></textarea> -->
            
        <!-- <ng-container *ngSwitchCase="type.datepicker">
            <input matInput [matDatepicker]="picker" placeholder="{{field.placeholder}}" name="{{field.name}}">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </ng-container> -->
        
        <mat-checkbox *ngSwitchCase="'checkbox'" name="{{field.name}}"> {{ field.placeholder }} </mat-checkbox>

        <input matInput *ngSwitchDefault placeholder="{{field.placeholder}}"
        name="{{field.name}}">
    
    </mat-form-field>
</div>