<div  fxLayout="row wrap" fxLayout.xs="column"
 fxLayoutAlign="space-between end" fxLayoutAlign.xs="space-between center" 
 fxLayoutGap="1em">
	<ng-container *ngFor="let field of fields" [ngSwitch]="field.type">

		<mat-form-field *ngSwitchCase="formFieldType.textarea">
			<textarea matInput [(ngModel)]="field.value" placeholder="{{field.placeholder}}" name="{{field.name}}" required="{{ field.required }}"></textarea>
		</mat-form-field>

		<mat-form-field *ngSwitchCase="formFieldType.datepicker">
			<input matInput [(ngModel)]="field.value" [matDatepicker]="picker" placeholder="{{field.placeholder}}" name="{{field.name}}" required="{{ field.required }}">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

		<mat-checkbox *ngSwitchCase="formFieldType.checkbox" [(ngModel)]="field.value" name="{{field.name}}" required="{{ field.required }}"> {{ field.placeholder }} </mat-checkbox>

		<mat-form-field *ngSwitchCase="formFieldType.url">
			<input matInput type="url" [(ngModel)]="field.value" placeholder="{{field.placeholder}}" name="{{field.name}}" required="{{ field.required }}">
		</mat-form-field>

		<mat-form-field *ngSwitchCase="formFieldType.email">
			<input matInput type="email" [(ngModel)]="field.value" placeholder="{{field.placeholder}}" name="{{field.name}}" required="{{ field.required }}">
		</mat-form-field>		

		<mat-form-field *ngSwitchDefault>
			<input matInput [(ngModel)]="field.value" placeholder="{{field.placeholder}}" name="{{field.name}}" required="{{ field.required }}">
		</mat-form-field>

	</ng-container>
</div>